# Default ignored files
/.idea/shelf/
/.idea/workspace.xml

# Project exclude paths
/target/

# Editor-based HTTP Client requests
/.idea/httpRequests/
rest-client.private.env.json
http-client.private.env.json